EquipmentChangeState.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:element name = "IPC2541 EqChState:EquipmentChangeState" xmlns:xsd = "http://wbstds.ipc.org/2541/EquipmentChangeState.xsd">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Extensions" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "dateTime" use = "required" type = "xsd:dateTime"/>
			<xsd:attribute name = "currentState" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "OFF"/>
						<xsd:enumeration value = "SETUP"/>
						<xsd:enumeration value = "READY-IDLE-STARVED"/>
						<xsd:enumeration value = "READY-IDLE-BLOCKED"/>
						<xsd:enumeration value = "READY-PROCESSING-ACTIVE"/>
						<xsd:enumeration value = "READY-PROCESSING-EXECUTING"/>
						<xsd:enumeration value = "DOWN"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "previousState" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "OFF"/>
						<xsd:enumeration value = "SETUP"/>
						<xsd:enumeration value = "READY-IDLE-STARVED"/>
						<xsd:enumeration value = "READY-IDLE-BLOCKED"/>
						<xsd:enumeration value = "READY-PROCESSING-ACTIVE"/>
						<xsd:enumeration value = "READY-PROCESSING-EXECUTING"/>
						<xsd:enumeration value = "DOWN"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "eventId" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Extensions"/>
</xsd:schema>