equipmentalarm.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:element name = "IPC2541 EqAlrm:EquipmentAlarm" xmlns:IPC2541EqAlrm="http://wbstds.ipc.org/2541/EquipmentAlarm.xsd">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Extensions" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "dateTime" use = "required" type = "xsd:dateTime"/>
			<xsd:attribute name = "alarmId" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "alarmInstanceId" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "alarmType" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "PERSONALSAFETY"/>
						<xsd:enumeration value = "EQUIPMENTSAFETY"/>
						<xsd:enumeration value = "ITEMSAFETY"/>
						<xsd:enumeration value = "PARAMETERCONTROLALARM"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "laneList" use = "required" type = "xsd:stringList"/>
			<xsd:attribute name = "zoneList" use = "required" type = "xsd:stringList"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Extensions"/>
</xsd:schema>